/* general */
*{
    font-family:Arial, Helvetica, sans-serif;/* 'Roboto', sans-serif; */
    box-sizing:border-box;
}


/* page top */
.top{
    background:center/contain url("images/0801.png");
}
.decoration {
    background:linear-gradient(transparent 70%, #8bc0d7 70%);
    animation-name:undermarker;
    animation-duration:5s;
    }
@keyframes undermarker{
  from{
    opacity:0;
    transform: translateX(100px);
  }to{
    opacity:1;
    transform: translateX(0px);
  }
}


/* Mon profile */
.walking_cat{
  animation-name:walkingcat;
  animation-duration: 6s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}
@keyframes walkingcat{
  0%   {transform: translateX(0);}
  25%  {transform: translateX(-10rem)}
  40%  {transform: rotate(25deg) }
  50%  {transform:translate(10rem)}
  100% {transform:translate(5rem)}
}
.walking_cat{
  display:none;
}
.telecharge:hover +.walking_cat{
  display:block;
}

/* mes compétences */
.competences{
  background:left/contain no-repeat url("");

}

.logo{
  width:9.5rem;
  overflow: hidden;
}
.logo:hover{
  transform:scale(1.1);
  transition-duration:0.2s;
}


/* contacter */
.icon{
    font-size:5rem;
}
.icon:hover{
  transform:scale(1.1);
  transition-duration:0.2s;
}
#page-top {
  position: fixed;
  right: 0px;
  bottom: 0px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  background: #fff;
  color: #737373;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}
